.navBar{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.82);
    backdrop-filter: blur(10px);
    color: #71787B;
    position: fixed;
    width: 100%;
}

.logo{
    font-weight: 600;
    font-size: 1.7em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.597);
    transition: color 1s;
}

.logo::before{
    content: "<";
    color: #b9b9b9;
}

.logo::after{
    content: " />";
    color: #b9b9b9;
}

.logo:hover{
    color: rgb(255, 255, 255);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    margin-left: 22px;
    margin-right: 22px;
    text-decoration: none;
    color: rgb(103, 108, 103);
    font-weight: 400;
    transition: color 0.7s;
}

.link:hover{
    color: rgba(255, 255, 255, 0.597);
}

